.loading {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading::after {
    content: '';
    width: 100px;
    height: 100px;
    border: 10px solid rgb(204, 204, 204);
    border-bottom-color: rgb(153, 0, 255);
    border-radius: 50%;
    animation: loader 1s linear infinite;
}

@keyframes loader {
    to {
        transform: rotate(1turn);
    }
}